In [134]:
import pandas as pd
import re
dataset = pd.read_csv('Train_Dataset.csv')

In [135]:
dataset

,Start Longitude,Start Latitude,Animals,Position Longitude,Position Latitude,Rank,Labels
0,5.962486,80.606481,1,5.953111,80.575098,4.5,2
1,5.962486,80.606481,2,5.944374,80.549499,4.2,1
2,5.962486,80.606481,3,6.914783,79.972951,3.8,3
3,5.962486,80.606481,1,5.953111,80.575098,4.0,2
4,5.962486,80.606481,2,5.944374,80.549499,4.8,1
5,5.962486,80.606481,3,6.914783,79.972951,4.2,3
6,5.962486,80.606481,2,5.944374,80.549499,3.9,1
7,5.962486,80.606481,3,6.914783,79.972951,4.1,3
8,5.962486,80.606481,2,5.944374,80.549499,4.6,1
9,5.962486,80.606481,3,6.914783,79.972951,4.7,3
10,5.962486,80.606481,2,5.944374,80.549499,4.2,1
11,5.962486,80.606481,1,5.953111,80.575098,4.6,2
12,5.962486,80.606481,2,5.944374,80.549499,4.4,1
13,5.962486,80.606481,3,6.914783,79.972951,4.8,3
14,5.962486,80.606481,1,5.953111,80.575098,3.9,2
15,5.962486,80.606481,2,5.953111,80.575098,4.5,2

In [136]:
data = dataset.replace('[^\d.]', '', regex=True).astype(float)
data

,Start Longitude,Start Latitude,Animals,Position Longitude,Position Latitude,Rank,Labels
0,5.962486,80.606481,1.0,5.953111,80.575098,4.5,2.0
1,5.962486,80.606481,2.0,5.944374,80.549499,4.2,1.0
2,5.962486,80.606481,3.0,6.914783,79.972951,3.8,3.0
3,5.962486,80.606481,1.0,5.953111,80.575098,4.0,2.0
4,5.962486,80.606481,2.0,5.944374,80.549499,4.8,1.0
5,5.962486,80.606481,3.0,6.914783,79.972951,4.2,3.0
6,5.962486,80.606481,2.0,5.944374,80.549499,3.9,1.0
7,5.962486,80.606481,3.0,6.914783,79.972951,4.1,3.0
8,5.962486,80.606481,2.0,5.944374,80.549499,4.6,1.0
9,5.962486,80.606481,3.0,6.914783,79.972951,4.7,3.0
10,5.962486,80.606481,2.0,5.944374,80.549499,4.2,1.0
11,5.962486,80.606481,1.0,5.953111,80.575098,4.6,2.0
12,5.962486,80.606481,2.0,5.944374,80.549499,4.4,1.0
13,5.962486,80.606481,3.0,6.914783,79.972951,4.8,3.0
14,5.962486,80.606481,1.0,5.953111,80.575098,3.9,2.0
15,5.962486,80.606481,2.0,5.953111,80.575098,4.5,2.0

In [137]:
data.dtypes

Start Longitude       float64
Start Latitude        float64
Animals               float64
Position Longitude    float64
Position Latitude     float64
Rank                  float64
Labels                float64
dtype: object

In [138]:
features = data.iloc[:,0:6]

features.head()

,Start Longitude,Start Latitude,Animals,Position Longitude,Position Latitude,Rank
0,5.962486,80.606481,1.0,5.953111,80.575098,4.5
1,5.962486,80.606481,2.0,5.944374,80.549499,4.2
2,5.962486,80.606481,3.0,6.914783,79.972951,3.8
3,5.962486,80.606481,1.0,5.953111,80.575098,4.0
4,5.962486,80.606481,2.0,5.944374,80.549499,4.8

In [139]:
labels = data.Labels
labels.head()

0    2.0
1    1.0
2    3.0
3    2.0
4    1.0
Name: Labels, dtype: float64

In [154]:
from sklearn.model_selection import train_test_split

train_data,test_data,train_target,test_target=train_test_split(features,labels,test_size = 0.2)

In [155]:
from sklearn.neighbors import KNeighborsClassifier

algorithm = KNeighborsClassifier()

algorithm.fit(train_data,train_target)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [156]:
train_data.shape

(12, 6)

In [157]:
test_data.shape

(4, 6)

In [158]:
predicted_targets = algorithm.predict(test_data)

In [159]:
print('Actual Targets:',test_target)
print('Predicted Targets:',predicted_targets)

Actual Targets: 0     2.0
15    2.0
11    2.0
1     1.0
Name: Labels, dtype: float64
Predicted Targets: [1. 1. 1. 1.]

In [160]:
from sklearn.metrics import accuracy_score

acc=accuracy_score(test_target,predicted_targets)
print('Accuracy:', acc)

Accuracy: 0.25